* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tehona, sans-serif;
}

.comp {
  height: 100vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060b26;
}
.head {
  align-items: center;
  justify-content: center;
}
.card {
  background: #ffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
}
.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.statewise {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
